<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.farellsujanto.flutter_serial_communication_example">

    <!-- Required only if you want the application to start when a usb device is attached -->
    <uses-feature android:name="android.hardware.usb.host" />

   <application
        android:label="flutter_serial_communication_example"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <!-- Edit res/xml/device_filter.xml to set your device vendor and product ids.
                 See https://developer.android.com/guide/topics/connectivity/usb/host.html for more info. -->
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- Start app on USB_DEVICE_ATTACHED intent -->
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
